<h2><%= @topic.title %></h2>

<div class="input-field">
  <textarea class="materialize-textarea"></textarea>
  <button class="btn">Add Comment</button>
  <ul class="collection"></ul>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    window.joinChannel(<%= @topic.id %>)
  })
</script>
